<div class="row-fluid">
  <div class="span8" id="l2-main"><%= render '/refinery/content_page' %></div>
    <div class="span4" id="sidebar" style="">
    	<%= testimonial_check(@testimonial) %>
    	<%= raw featured_project_check(@random_project) %>
    </div>	
  </div>
</div>