<div class="row-fluid">
<div class="span8" id="l2-main"><%= render '/refinery/content_page' %></div>
<div class="span4" id="sidebar">
	
	<div id="quotebox-l2">
		<%= raw @testimonial.title %>
		<%= raw @testimonial.testimonial %>
	</div>
</div>

	<%#= render '/refinery/content_page' %>
</div>
</div>