<div class="callout">
  <h3>Your Next Project</h3>
  <p>Let us help you with your next design/build project. Wieser Brothers will help you through the process, from idea to completion.</p>
  <p><strong>Contact us<br />
    <i class="fa fa-phone"></i> 507-895-8903<br />
    <i class="fa fa-envelope"></i> <%= link_to 'info@wieserbrothers.com', 'mailto:info@wieserbrothers.com' %></strong>
  </p>
</div>