/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require blueimp-gallery
 *=	require twitter-bootstrap-static/bootstrap
 *= require_tree .

 */

/* html {background:url('home-bg.gif') 0 0 repeat-x #3b3b3b;}
 body {background-color:#3b3b3b;}*/

 //colors
$wieser_green: #004a30;
$slate_blue:#4b7da4;
$white:#ffffff;
$light_gray:#efefef;
$dark_gray:#636363;

.red-border {border:1px solid red;}

a:hover {background-color:transparent !important;color:$wieser_green !important;}

 html, body {margin:0;padding:0;background-color:$light_gray;}

 h1 {font-family:helvetica, arial, sans-serif !important;}
 #body_content_title {color:$dark_gray !important;font-weight:100 !important;}
 h3 {font-family:helvetica, arial, sans-serif !important;font-size:18pt !important; font-weight:100 !important;}
 h4 {font-weight:100 !important;}
 #header-row {
 	position:relative;
 	background-color:$light_gray;
 	height:120px;
 	border-bottom:1px dotted #cdcdcd;
 	
 }

 .news_items div {

 	margin-bottom:20px;

 	
 }

 .brand {
 	
 	margin:-8px 0 0 0;
 	height:100px;
 	//background:url('WB-3.jpg') -0px -3px no-repeat $light_gray;
 	img {
 		padding-left:0px;
 	}
 	
 	}

 	#header-row {

background: #cdcdcd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkY2RjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzIlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkY2RjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #cdcdcd 0%, #ffffff 3%, #efefef 72%, #cdcdcd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcdcd), color-stop(3%,#ffffff), color-stop(72%,#efefef), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cdcdcd 0%,#ffffff 3%,#efefef 72%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cdcdcd 0%,#ffffff 3%,#efefef 72%,#cdcdcd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cdcdcd 0%,#ffffff 3%,#efefef 72%,#cdcdcd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cdcdcd 0%,#ffffff 3%,#efefef 72%,#cdcdcd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-8 */

	


 	}

 	.nav-row {
 		margin-top:5px;height:42px;background-color:$wieser_green;text-align:right !important;

 	}

.navbar .nav {}

 .navbar-inner .nav li a {
 
 	height:20px;
 	line-height:0px;
 }

 .navbar-inner .nav li a {
 	margin-top:1px;
 	line-height:20px !important;
 	color:$white !important;
 }

 .navbar-inner .nav li a:hover {
 	background-color:lighten($wieser_green, 10%) !important;
 	color:$white !important;
 	text-decoration:underline;

 }

 a:hover.btn-navbar {border:1px solid white;background-color:#cdcdcd !important;}

 //#home div > div[id] > div {width:940px;border:1px solid black;margin:0 auto;}
 #intro {
 	position:relative;
 	text-align:center;
 	z-index:0;
 	background: #13211c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEzMjExYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMjYxMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzIxMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #13211c 0%, #002611 50%, #13211c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#13211c), color-stop(50%,#002611), color-stop(100%,#13211c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #13211c 0%,#002611 50%,#13211c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #13211c 0%,#002611 50%,#13211c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #13211c 0%,#002611 50%,#13211c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #13211c 0%,#002611 50%,#13211c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13211c', endColorstr='#13211c',GradientType=0 ); /* IE6-8 */

 	#big-image {
 		/*width:100%;*/
 		
 		/*
 		margin-top:-363px;
 		position:relative;
 		z-index:-2;*/
 	}
 }
 
 footer {
 	
	width:100%;
 	padding:30px 0 0px 0;
 	background-image:url('footer-bg6.png');
 	background-position:right;
 	background-repeat:no-repeat;
 	border-top:1px dotted #cdcdcd;

 	#email-sign-up {
		background-color:#bababa;
		padding:20px;
		border-radius:5px;
	}
	li {
		list-style: none;
		margin-left:none;
	}
	label {
		display:none;
	}
	legend {
		border-bottom:none;
	}
 }

 footer {
 	background: #a0a0a0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwYTBhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZTJlMmUyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTMlIiBzdG9wLWNvbG9yPSIjZjRmNGY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkY2RjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #a0a0a0 0%, #e2e2e2 2%, #f4f4f4 13%, #efefef 66%, #cdcdcd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a0a0), color-stop(2%,#e2e2e2), color-stop(13%,#f4f4f4), color-stop(66%,#efefef), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a0a0a0 0%,#e2e2e2 2%,#f4f4f4 13%,#efefef 66%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a0a0a0 0%,#e2e2e2 2%,#f4f4f4 13%,#efefef 66%,#cdcdcd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a0a0a0 0%,#e2e2e2 2%,#f4f4f4 13%,#efefef 66%,#cdcdcd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a0a0a0 0%,#e2e2e2 2%,#f4f4f4 13%,#efefef 66%,#cdcdcd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-8 */

 }

 // #myCarousel {width:99.60%;margin:0 auto 0 auto;} -- took out white sides

 .carousel-inner {overflow:visible !important;}
 .carousel-indicators {top:15px !important;}


.home-hero {
	position:relative;
	z-index:2011;
	bottom:0px;
	left:0;
}

.callout {

	
	
	min-height:100px;
	margin-bottom:20px;
	padding:20px;
	border-radius:5px;
	border:1px dotted lighten($dark_gray, 30%);
	background:url('blueprint.png') 110% 145% no-repeat lighten(#efefef, 4%);
	background-size:170px;




	// box-shadow:1px 1px 5px 1px lighten($dark_gray, 50%);
	h3 {
		color:$wieser_green;
		font-family: 'helvetica-neue', sans-serif;
		font-weight:100;
		margin-top:0;
		//font-size:32px !important;
	}
	p {
		color:rgba(0,0,0,.7);
		strong {
			color:rgba(0,0,0,.65);
			font-size:115%;
			line-height:1.5em;
			a {color:rgba(0,0,0,.65);}

		}
	}
}

#quotebox {
	position:absolute;
	top:30px;
	right:-20px;
	background-color:$wieser_green;
	opacity:1;
	min-height:1em;
	padding:11px;
	border-radius:0px;
	-webkit-box-shadow: 0 8px 6px -6px #000000;
	   -moz-box-shadow: 0 8px 6px -6px #000000;
	        box-shadow: 0 8px 6px -6px #000000;

	h2 {
		color:$white;
		text-shadow: 2px 2px #000000;
		font-size:22px;
		font-weight:100;
		line-height:1em;
	} a {
		color:$white;
	} :hover {
		text-decoration:none;
		color:$white - 3;
		text-shadow: 2px 3px 6px #000000;
	}
	p {
		font-family: Times, serif;
		font-size:18px;
		line-height:1.25em;
		font-style: italic;
	}

	strong {
		font-style:normal;
		font-family:sans-serif;
	}
}



#quotebox-l2 {
	display:block;
	padding:20px;
	border-radius:3px;
	background-color:$slate_blue;
	opacity:0.7;
	background:url('trans-quote.png') no-repeat -11px -6px $slate_blue;
	margin-bottom:20px;
	color:#000000;
	border:1px solid darken($slate_blue, 10%);
	box-shadow:1px 1px 5px 1px lighten($dark_gray, 15%);
	h4 {margin-top:0;line-height:1em;text-shadow:0px 0px 0px #cdcdcd;color:#000000 !important;}

}

#featured-project {
	padding:5px 20px 20px 20px;
	margin:0px 0 20px 0;
	border-radius:3px;
	background-color:$light_gray;
	border:1px dotted lighten($dark_gray, 42%);
}

#l2-main {
	min-height:500px;
	margin-top:80px;
	margin-bottom:40px;
}

#sidebar {
	margin-top:104px;
	border-left:1px dotted #636363;
	padding-left:20px;
	
	margin-bottom:40px;
	
}

#contact_info {
	margin-top:150px;
	
}

.home-buckets {
	background-color:$white;
	border-radius:5px;
	margin-top:-50px;position:relative;z-index:1000;
	.span4 {
		
	}
	.span4:first-child {

	}
	.span4:first-child h1 {
		text-transform: uppercase;
		color:$wieser_green;
		background-color:$light_gray;
		padding:10px 0 0 10px;
		display:block;
		height:130px;
		margin:0;
	} h1 {
		font-family:'Impact W15 2010' !important;
		
	}

	h3 {
		font-weight:200;
		color:$wieser_green;
	}
}

#project-gallery-index {
	margin:0;
	padding:0;
	li {
		display:block;
		text-align:center;
		border:1px dotted lighten($dark_gray, 40%);
		float:left;
		height:220px;
		// width:150px;
		// margin-right:20px;
		padding:10px;
		margin-bottom:15px;
		margin-left:0px;
		margin-right:15px;
		clear:right;
		background-color:$light_gray;
		
		h5 {
			font-size:12px;
			line-height: 14px;
			font-weight:100;
		}
		img {
			border:1px solid lighten(#000000, 70%);
		}
	} 
}

#project-gallery-show {
	margin:0;
	padding:0;
	li {
		display:block;
		float:left;
		
		
		margin-right:5px;
		margin-bottom:5px;
		
	} 

}


.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
    
  }
}


// #l2-main h1 {
// 	color:$light_gray - 40;
// }
