/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *=	require twitter-bootstrap-static/bootstrap
 *= require_tree .

 */

 html {background:url('home-bg.gif') 0 0 repeat-x #3b3b3b;}
 body {background-color:#3b3b3b;}

 //colors
$wieser_green: #004a30;
$slate_blue:#004a30;
$white:#ffffff;
$light_gray:#efefef;

.home-buckets {
	background-color:$white;
	border-radius:5px;
	.span4 {
		
	}
	.span4:first-child {

	}
	.span4:first-child h1 {
		text-transform: uppercase;
		color:$wieser_green;
		background-color:$light_gray;
		padding:10px 0 0 10px;
		display:block;
		height:130px;
		margin:0;

		
	}
	h3 {
		font-weight:200;
		color:$wieser_green;
	}
}

footer {margin-top:10px;
	padding:30px;
	position:relative;
	color:#fff;
	background-image:url('footer-bg2.gif');
	background-repeat:no-repeat;
	background-size:100% auto;
	li {
		list-style: none;
		margin-left:none;

	}
	#copyright {
		margin-top:30px;
		text-align:right;
	}
	small {
		color:darken($white, 50%);

	}

}