
 //colors
$wieser_green: #004a30;
$slate_blue:#004a30;
$white:#ffffff;

a {color:$wieser_green;}

.navbar-inner {
  // /*background-image:url('nav-bg.png');*/
  background-size:100%;
  opacity:0.9;
  background-color:transparent !important;
  border:none !important;
  background-image:none !important;
  box-shadow:none !important;
  

 

	.nav li a {
		line-height:75px;
		color:$wieser_green;
		text-shadow:none;
		font-size:16px;
		&:hover {
			color:darken($white, 22%);
		}
	}
}


.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus 
{
  //background-color:darken($wieser_green, 40%);
}